* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  min-height: 100dvh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: grey;
  position: relative;
  z-index: 0;
}

:root {
  --pokemon-yellow: rgb(254,209,2);
  --pokemon-blue: blue;
  --small-pokemon-card-width: 18em;
  --small-pokemon-card-height: 25em;
  --large-pokemon-card-width: 30em;
  --large-pokemon-card-height: 45em;
}

/**************************
          BUTTONS 
**************************/
.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.change-index-button {
  box-shadow: 10px 10px 10px black;
  padding: .7em;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  background-color: var(--pokemon-blue);
  outline: 5px solid var(--pokemon-yellow);
  transition: scale 200ms ease-in-out;
}

.change-index-button:hover {
  scale: 1.1;
}

@media(min-width:600px) {
  .change-index-button {
    padding: 1em;
  }
}

/**************************
        POKEMON CARD 
**************************/

.pokemon-card {
  position: relative;
  width: var(--small-pokemon-card-width);
  height: var(--small-pokemon-card-height);
  max-width: 85vw;

  display: grid;
  place-items: center;
  grid-template-rows: 60% 1fr;
}

.pokemon-card.pokemon-card-red {
  background: rgb(249,127,42);
  background: radial-gradient(circle, rgba(249,127,42,1) 0%, rgba(242,199,133,1) 50%, rgb(221, 65, 45) 100%);
}
.pokemon-card.pokemon-card-green {
  background: rgb(121,180,55);
  background: radial-gradient(circle, rgba(121,180,55,1) 0%, rgba(204,233,154,1) 50%, rgba(104,162,39,1) 100%);
}

.pokemon-card.pokemon-card-blue {
  background: rgb(27,167,235);
  background: radial-gradient(circle, rgba(27,167,235,1) 0%, rgba(169,221,245,1) 50%, rgba(11,156,227,1) 100%);
}

.pokemon-card.pokemon-card-brown {
  background: rgb(226,101,19);
  background: radial-gradient(circle, rgba(226,101,19,1) 0%, rgba(238,185,150,1) 50%, rgba(166,72,11,1) 100%);
}

.pokemon-card.pokemon-card-yellow {
  background: rgb(241,197,51);
  background: radial-gradient(circle, rgba(241,197,51,1) 0%, rgba(244,230,188,1) 50%, rgba(232,198,72,1) 100%);
}

.pokemon-card.pokemon-card-other {
  background: rgb(156,41,123);
  background: radial-gradient(circle, rgba(156,41,123,1) 0%, rgba(230,168,212,1) 50%, rgba(139,14,104,1) 100%);
}


.pokemon-card::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: calc(var(--small-pokemon-card-height) + 2em);
  width: calc(var(--small-pokemon-card-width) + 2em);
  background: var(--pokemon-yellow);
  border-radius: 20px;
  max-width: 95vw;
}

@media (min-width: 600px) {
  .pokemon-card {
    height: var(--large-pokemon-card-height);
    width: var(--large-pokemon-card-width);
  }

  .pokemon-card::before {
    width: calc(var(--large-pokemon-card-width) + 3em);
    height: calc(var(--large-pokemon-card-height) + 3em);
  }
}

/**************************
    POKEMON CARD TOP HALF 
**************************/
.pokemon-card-top-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-name-and-health {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bolder;
}

.pokemon-health {
  color: rgb(219, 4, 4);
}

.pokemon-image {
  background-color: black;
  color: white;
  place-self: center;
  position: relative;
  width: 12em;

  box-shadow: 9px 9px 12px black;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to top, rgba(192,140,41,1), rgb(230, 211, 128));
}

.pokemon-image img {
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.pokemon-stats {
  margin-top: .9em;
  background: rgb(192,140,41);
  background: linear-gradient(90deg, rgba(192,140,41,1) 0%, rgba(252,233,145,1) 52%, rgba(192,140,41,1) 100%);
  max-width: 80%;
  font-size: .7rem;
  font-weight: 500;
  align-self: center;
  text-align: center;
  padding-inline: 1.2em;
  -webkit-clip-path: polygon(15% 100%, 81% 100%, 100% 0, 0 0);
  clip-path: polygon(4% 100%, 96% 100%, 100% 0, 0 0);
}

@media (min-width: 600px) {
  .pokemon-name-and-health {
    font-size: 1.7rem;
  }

  .pokemon-image {
    width: 23em;
    padding-inline: 5em;
  }

  .pokemon-image img {
    height: 200px;
  }

  .pokemon-stats {
    padding-block: .3em;
    padding-inline: 1.5em;
    font-size: .85rem;
  }
}

/**************************
  POKEMON CARD BOTTOM HALF 
**************************/
.pokemon-card-bottom-half {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: .8em;
  width: 100%;
  height: 100%;
  padding-inline: 1.3em;

  font-size: 1.3rem;
  font-weight: bold;
}

.pokemon-move-info {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.pokemon-move-name {
  min-width: max-content;
  /* padding-right: 1em; */
}

.pokemon-flavor-text {
  place-self: center;
  padding: 0.35em;
  font-size: .55rem;
  min-width: 97%;

  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to top, rgb(173, 124, 34), rgb(219, 200, 114));
}

@media (min-width: 600px) {
  .pokemon-card-bottom-half {
    font-size: 2.1rem;
    padding-inline: 2.5em;
  }

  .pokemon-move-info {
    gap: 1.5em;
  }

  .pokemon-flavor-text {
    font-size: .8rem;
  }
}
